/**
 * 2019.05.17
 *
 */

@import url('defines.css');

body {
/*     background-image: url(../images/bg-head.jpg), url(../images/bg-main.jpg); */
/*     background-repeat: no-repeat, repeat; */
/*     background-position: top center, center; */
	background-color: var(--body-back, '#ffffff');
	font-family: 'PT Sans', sans-serif;
}


a {
    color: #314f6c;
}
a:hover,
a:focus,
a:visited {
    color: #0b253e;
}

.CDEK-widget__popup-mask {
	z-index: 20;
}

/* fabric color picker */
#f-picker {
	display: inline-block;
	position: absolute;
	padding: 7px;
	float: right;
	z-index: 10;
	width: 210px;
	height: 210px;
	margin-right:-80px;
	background-color: white;
	border-radius: 110px;
	box-shadow: 0px 0px 1em var(--z-gray, '#999999');
}

/**
 * Grid
 */
@media (min-width: 1400px) {
	.page-set,
	.header {
		max-width: 1260px;
	}
}

@media (max-width: 991px) {
    .header-info {
        text-align: center;
    }
    .header-auth {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

@media (min-width: 992px) {
	.page-set,
    .header {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .header .header-brand {
        margin-right: 2.25rem;
    }
    .header-main {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .header-info {
        margin-right: 2.25rem;
    }
    .header-contacts > usection {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.content {
    padding-bottom: 3.125rem;
}

.bar-wide {
	width:100%;
	background-color:var(--body-back, '#ffffff');
}
div.bar-wide {
	border-bottom:1px solid var(--z-gray-m, '#cccccc');
	margin-bottom:0.2em;
	position:sticky;
	z-index:3;
	top:0px;
}
footer.bar-wide {
	border-top:1px solid var(--z-gray-m, '#cccccc');
	padding-top:1.5em;
	font-size:80%;
	line-height:1;
	position:relative;
	padding-bottom:1.5em;
}

/**
 * Main menu
 */
.menubar {
    margin-bottom: 0.5em;
	background-color:var(--z-gray-l, '#f8f8f8');
	line-height:0.8;
	font-size:80%;
	width:100%;
}
.menu-main {
}
.menu-search img.icon {
	 width:16px;
	 height:16px;
	 float:right;
}
div.menu-main-hor {
	width:100%;
	text-align:justify;
}
ul.menu-main-hor {
	list-style-type:none;
	margin:0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	-webkit-margin-start: 0;
	-webkit-margin-before: 0px;
	-webkit-padding-start: 0px;
}
ul.menu-main-hor:before,
ul.menu-main-hor:after {
	content:'';
	display: inline-block;
	width: 100%;
}
ul.menu-main-hor li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
}

div.menu-bot {
	display:inline-block;
	column-count:2;
	column-gap:1em;
	margin-right:2em;
	padding-top: 0.5em;
	min-width:20%;
}
ul.menu-bot {
	list-style-type:none;
	margin:0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
ul.menu-bot li {
	list-style:none;
	line-height:1.3;
	margin-top:0.2em;
}
/* Main Menu end */
/**
 * Header
 */
.page-set,
.header {
	position: relative;
	display: flex;
	align-items: center;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	margin: 1px auto 1px auto;
	padding:0px 0.6em;
}
.header> *:first-child {
	flex-grow:1;
	flex-basis:1em;
	display:inline-block;
}
.header> *:last-child {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	flex-wrap:wrap;
}
.header .header-brand small {
    display: block;
    padding: .25em;
    font-size: 0.75rem;
}
.header .header-brand:hover,
.header .header-brand:focus,
.header .header-brand:active {
    text-decoration: none;
    color: #000;
}

.menu-main,
.header-main {
	justify-content:center;
	min-width:60%;
}
.header-user {
	padding-bottom:1em;
	text-align:right;
}
 
.header section {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
/* 	justify-content: space-around; */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.header-phone-main {
	line-height: 1;
	font-size:130%;
}
.header-phone-main small,
.header-phone-main strong {
    display: block;
}
.header-phone-main small {
}
.header-phone-main strong {
    font-size: 2rem;
}

.header-contact-item {
    margin-right: .3125rem;
    margin-bottom: .3125rem;
    line-height: 30px;
}

.header-contact-item small {
	display:block;
	line-height: 0.8;
	text-indent: 0.6em;
}
img.icon {
	width:30px;
	height:30px;
	border:none;
}

footer .btn.gray {
	font-size:80%;
	padding-top:0.5em;
}
footer .btn.gray img {
	vertical-align:-0.5em;
}
footer .header {
	flex-wrap:nowrap;
	align-items: flex-start;
	-ms-flex-align: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.footer-contact {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.footer-copyright {
	line-height:1.2;
	color: var(--z-gray-d,'#333333');
	margin-right:3em;
}



.cp-container .cp-slider {
    width: calc(33% - 8px);
    float: left;
}

.sp-replacer{
    width:100%;
}
.sp-replacer .sp-preview{
    width: 96%;
}
.thumbnail{
    margin-bottom: 10px;
}
.btn-korzina{
    background-color: #00bd19;
    color: #fff;
}
.btn-korzina:hover{
    background-color: #049514;
    color: #fff;
}


@media (max-width: 479px) {
    .btn-callback {
        margin-left: auto;
        margin-right: auto;
    }
}




/**
 * Content
 */
.page-box {
    position: relative;
}

.page-inner {
    position: relative;
}

.page-main {
    position: relative;
    background-color: #fff;
    margin-top: -6px;
    padding: 1rem;
    border-radius: 4px;
    border-top: 3px solid #d5d5d5;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0, .25);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0, .25);
    box-shadow: 0 5px 5px rgba(0,0,0, .25);
/*     z-index: 1; */
}

.page-main h2, h4 {
    font-weight: 700;
}

@media (min-width: 768px) {
    .page-box {
        border-top: 32px solid transparent;
        -moz-border-image: url(../images/block-top-center.png) 32 0 0 0 repeat;
        -webkit-border-image: url(../images/block-top-center.png) 32 0 0 0 repeat;
        -o-border-image: url(../images/block-top-center.png) 32 0 0 0 repeat;
        border-image: url(../images/block-top-center.png) 32 0 0 0 repeat;
    }
/*    .page-box::before,
    .page-box::after {
        content: '';
        display: block;
        position: absolute;
        top: -33px;
        width: 16px;
        height: 32px;*/
    }
/*    .page-box::before {
        background-image: url(../images/block-top-left.png);
        background-repeat: no-repeat;
        background-position: top;
        left: -16px;
    }
    .page-box::after {
        background-image: url(../images/block-top-right.png);
        background-repeat: no-repeat;
        background-position: top;
        right: -16px;
    }

    .page-inner::before {
        content: "";
        position: absolute;
        top: 0;
        right: -8px;
        display: block;
        width: 8px;
        height: 369px;
        max-height: 100%;
        background-image: url(../images/block-right.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .page-box-open .page-inner::after {
        content: "";
        position: absolute;
        top: 95%;
        right: 0;
        left: 0;
        display: block;
        margin-left: -30px;
        margin-right: -30px;
        height: 200px;
        background-image: url(../images/block-bottom.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }*/
}
@media (min-width: 992px) {
/*    .page-box-open .page-inner::after {
        height: 220px;*/
    }
}
@media (min-width: 1200px) {
/*    .page-box-open .page-inner::after {
        height: 280px;*/
    }
}



/**
 * Common
 */
.pagination {}
.pagination .page-item {
}
.pagination .page-item .page-link {
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    color: #000;
}
.pagination .page-item.active .page-link {
    color: #59c51e;
}
.pagination .page-item.disabled .page-link {
    opacity: .5;
}
.pagination .page-item.prev .page-link,
.pagination .page-item.next .page-link {
    padding: .5rem 2rem;
    background-color: #f5f5f5;
    border: 1px solid #859094;
    border-radius: 1.25rem;
    word-spacing: 1.5rem;
    white-space: nowrap;
    color: #859094;
}
.pagination .page-item.prev .page-link {
    margin-right: 4rem;
}
.pagination .page-item.next .page-link {
    margin-left: 4rem;
}



/**
 * Inbox modals
 */
.modals {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    padding: 1rem;
    z-index: 10;
}
.modals.show {
    display: block;
}
#goToCart {
    background-color: rgba(0,0,0,.3);
}

/**
 * Layouts
 */
body.category .page-main, body.single .page-main, body.page .page-main {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 6.25rem;
}
body.category .about-links, body.single .about-links, body.page .about-links {
    margin-bottom: 3.125rem;
    padding-left: 1rem;
    font-size: 1.125rem;
}
body.category .about-links li, body.single .about-links li, body.page .about-links li {
    margin-bottom: 1rem;
    color: #498513;
}



/**
 * Info blocks
 */
.info {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 8px solid #e9e9e9;
}
.info .info-content {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.info .info-header {
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    text-align: center;
}
.info .info-header .info-title {
    font-weight: 700;
    font-size: 1.875rem;
}
.info .info-header .close {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    font-size: 1.25rem;
}
.info .info-header .close span {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #333;
    border-radius: 50%;
}
.info .info-body {
    flex-basis: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.info .info-body h4,
.info .info-body h5,
.info .info-body h6 {
    font-weight: 700;
    font-size: 1.5rem;
}
.info .info-body p {
    font-size: 0.75rem;
}

.info.info-order .info-body h4 {
    font-weight: 400;
    font-size: 1.125rem;
}
.info.info-order .info-body ul {
    font-weight: 700;
    font-size: 1.5rem;
}


/**
 * Elements
 */
.color-box {
    display: inline-block;
    margin-right: 4px;
    width: 11px;
    height: 11px;
    border: 1px solid #444;
}
.color-box.color-box-red {
    background-color: #da0004;
}
.color-box.color-box-orange {
    background-color: #e4a428;
}
.color-box.color-box-yellow {
    background-color: #fbfd3c;
}
.color-box.color-box-green {
    background-color: #4b851f;
}
.color-box.color-box-blue {
    background-color: #030aed;
}
.color-box.color-box-purple {
    background-color: #803281;
}
.color-box.color-box-black {
    background-color: #000;
}
.color-box.color-box-white {
    background-color: #fff;
}
.color-box.color-box-beige {
    background-color: #f3f3dc;
}
.color-box.color-box-grey {
    background-color: #7d7d7d;
}
.color-box.color-box-brown {
    background-color: #7b4919;
}



/**
 * Color theme
 */
.text-danger {
    color: #940a0a !important;
}
.text-success {
    color: #6fb946 !important;
}

.btn {
	border-radius: 0.5em;
	padding:0px 1.75rem;
	height:2.5em;
	cursor: pointer;
}
.btn.blank {
	border-width:0px !important;
}
.header-link {
	border:none;
	padding:0px 0px 0px 0.5em;
	margin-left:0.5em;
}
.header-link:last-of-type {
	border-radius: 0px;
	border-left:1px solid var(--z-gray-m, '#dddddd');
}
.btn-small {
	display:inline-block;
	color: var(--z-purple,'#6d2eff');
	background-color:var(--z-purple-l, '#f6f3ff');
	font-weight:normal;
	font-size:80%;
	border-radius: 0.3em;
	padding:0px 0.5em;
	margin:0px 0.5em;
	height:2em;
	line-height:2;
	cursor: pointer;
}
.btn-callback,
.btn-callback:visited {
	padding:0px 1em;
	margin-left: 1em;
	border: 1px solid var(--z-purple,'#6d2eff');
	color: var(--z-purple,'#6d2eff');
	white-space: nowrap;
	
}
.header-link img,
.btn-callback.gray img,
.btn-callback img {
	width:16px;
	height:16px;
	margin-top:0.7em;
	vertical-align:-10%;
	margin-right:0.5em;
}
.btn-callback.gray img,
.btn-callback:hover img {
	filter:grayscale(10);
}
.btn-callback.gray,
.btn-callback.gray:visited,
.btn-callback:hover,
.btn-callback:focus,
.btn-callback:active {
	border: 1px solid var(--z-gray-m,'#dddddd');
	color: var(--z-gray-d,'#333333');
}

.btn.btn-success {
    background-color: #b8da51;
    border-color: #b8da51;
    color: #fff;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active {
    background-color: #a2c92c;
    border-color: #a2c92c;
    color: #fff;
}
.btn.btn-danger {
    background-color: #be0f0f;
    border-color: #be0f0f;
    color: #fff;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active {
    background-color: #a50b0b;
    border-color: #a50b0b;
    color: #fff;
}

.btn.btn-danger.disabled {
    background-color: #be0f0f;
    border-color: #be0f0f;
    color: #fff;
}
.btn.btn-danger.disabled:hover,
.btn.btn-danger.disabled:focus,
.btn.btn-danger.disabled:active,
.btn.btn-danger.disabled {
    background-color: #be0f0f;
    border-color: #be0f0f;
    color: #fff;
    cursor: default;
}

.btn.btn-wide {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn.btn-wide.btn-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn.btn-wide.btn-lg {
    padding-left: 2rem;
    padding-right: 2rem;
}


/**
 * Woocomerce
 */

.woocommerce span.onsale {
	background: none;
	padding: 0;
    min-width: auto;
    min-height: auto;
}

.woocommerce form .form-row {
    width: 33%;
    margin-bottom: 20px;
}
.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
    clear: none;
}
body.page .page-main-index{
    padding-left:10px;
}
