:root {
	--body-back:#ffffff;
	--body-text:#212529;

	--z-yellow:#ffd52e;
	--z-yellow-l:#fff8e5;
	--z-yellow-d:#ffb800;
	--z-purple:#6d2eff;
	--z-purple-l:#f6f3ff;
	--z-green:#43d954;
	--z-gray:#999999;
	--z-gray-l:#f8f8f8;
	--z-gray-m:#dddddd;
	--z-gray-d:#333333;
}
