.layout-products {}

.products {
}
.product-list {
}
.product-list-item {
    margin-bottom: 2.5rem;
}
.product-list-item-image {
    margin-bottom: 1rem;
    position:relative;
}
.product-list-item-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.product-list-item-image img.sale {
    position: absolute;
    top: 0px;
    right: 0px;
}
.product-list-item-body {
}
.product-list-item-body .text {}
.product-list-item-body .price {
    font-weight: 700;
	margin-bottom: .8rem;
}

.btn-product-list,
.btn-product-list:visited {
    background-color: #859094;
    border-color: #859094;
    border-radius: 1rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}
.btn-product-list:hover,
.btn-product-list:focus,
.btn-product-list:active {
    background-color: #6d777a;
    border-color: #6d777a;
    color: #eee;
}

a.added_to_cart {
    background-color: #859094;
    border-color: #859094;
    border-radius: 1rem;
    padding: .25rem .5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.5;
    display: block;
    text-align: center;
    margin-top: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a.added_to_cart:hover,
a.added_to_cart:focus,
a.added_to_cart:active {
    background-color: #6d777a;
    border-color: #6d777a;
    color: #eee;
}


