.woocommerce {
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	justify-content: space-between;
}
.woocommerce img, .woocommerce-page img {
	height: unset;
	max-width: unset;
}
.wc-proceed-to-checkout {
	text-align:center;
}
.cart-list {
    margin-bottom: 2rem;
	justify-content: space-between;
/* 	align-items:stretch; */
}
.cart-list .part-wide {
	margin-right:2em;
}

.cart-item {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-between;
	padding: 1em 0px;
	border-top: 1px solid var(--z-gray-m, '#dddddd');
}
.cart-item:last-of-type {
	border-bottom: 1px solid var(--z-gray-m, '#dddddd');
}
.cart-item.rollOut {
	overflow-y:hidden;
	height:1em;
	background-color:var(--z-gray-m, '#dddddd');
	animation-name:rollOut;
	-webkit-animation-name:rollOut;
	-moz-animation-name:rollOut;
	-o-animation-name:rollOut;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	-o-animation-iteration-count:1;
	animation-duration:600ms;
	-webkit-animation-duration:600ms;
	-moz-animation-duration:600ms;
	-o-animation-duration:600ms;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
}
@keyframes rollOut {
	0% { height:120px;}
	100% { height:1em;}
}



.cart-item >* {
	margin-right:1em;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}
.cart-item >*:last-of-type {
	margin-right:0px;
}
.item-kill {
	display:inline-block;
	color:var(--z-gray, '#999999');
	cursor:pointer;
}
.item-kill:hover {
	color:var(--z-purple, '#6d2eff');
	text-decoration:underline;
}
#cart-total {
	display:inline-block;
	position:sticky;
	position:-webkit-sticky;
	padding:1em 1.5em;
	border: 1px solid var(--z-gray-m, '#dddddd');
	border-radius:0.5em;
}
.check {
	display:flex;
	justify-content:space-between;
	margin:0.5em 0px;
	align-items:baseline;
}
.check div:first-of-type {
	margin-right:1em;
}
.check div:last-of-type {
	font-weight:bold;
}
.check div.comment {
	font-weight:normal;
	text-align:right;
}
.check.order-total {
	border-top: 1px solid var(--z-gray-m, '#dddddd');
	margin-top:0.5em;
	padding-top:0.5em;
}
.check.order-total strong {
	font-size:150%;
}

.item-thumb img {
	max-width: 100px;
	max-height: 100px;
}
.item-info {
	font-size: 80%;
	width:50%;
}
.item-remove {
	position: absolute;
	top: 5px;
	right: 10px;
}

.item-count {
	padding:0px 1em;
}
.item-price {
	text-align: right;
	font-weight: bold;
	min-width:6em;
}
.pop-list {
	position: absolute;
	margin-top: 0.2em;
	max-height: 20em;
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
	/* border: 1px solid var(--z-gray,'#999999'); */
	background-color: var(--body-back,'#ffffff');
	padding:1em 0px;
	box-shadow: 0px 0px 1em rgba(0,0,0,0.3);
	border-radius: 0.5em;
	z-index: 2;
}
.order-item {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	line-height:2.5;
}
.order-item:nth-of-type(even) {
	background-color:var(--z-gray-l,'#f8f8f8');
}
.order-item:hover {
	border-bottom:1px dotted var(--z-gray-m,'#dddddd');
}
.order-item> * {
	padding:0px 1em;
}
.order-item> .item-name {
	width:60%;
}
#order_review_heading {
	background-color:var(--z-purple-l,'##e6e3ff');
	width: 100%;
	text-align: left;
	height: 2.5em;
	line-height: 2.5;
	padding:0px 1em;
}
#order_review_heading::after {
	content:'\2335';
	margin-left:0.5em;
	vertical-align:0.2em;
	display:inline-block;
	align-self:baseline;
	float:right;
}
#order_review_heading.on::after {
	transform:rotate(180deg);
	margin-top:0.3em;
}

/*.form-order {
	display: -ms-flexbox;
	display: flex;
}
.form-order-col {
	flex: 1 1 45%;
	max-width: 45%;
}
.form-order-row {
	padding: 1rem;
	padding-right: 5rem;
}
.form-order-row:not(:first-child) {
	border-top: 1px solid #b1b1b1;
}
.form-order-col:not(:first-child) .form-order-row {
    border-left: 1px solid #b1b1b1;
}

.form-order .form-control {
    border-radius: 50rem;
}*/

